@import '@fontsource/fira-mono';

:root {
	--font-body: Futura, "Trebuchet MS", Arial, sans-serif !important;
	--font-mono: FiraCode-Retina, "Fira Code Retina", "Fira Code", "FiraCode", monospace !important;
	--color-bg-0: rgb(0, 0, 0);
	--color-bg-1: hsl(201, 64%, 9%);
	--color-bg-2: hsl(220, 93%, 6%);
	--color-theme-1: #ffca70;
	--color-theme-2: #91bbe2;
	--color-text: #ffe3b3;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	overflow: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: cover;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(0, 0, 0, 0.3) 0%,
			rgba(0, 0, 0, 0.4) 100%
		),
		linear-gradient(110deg, var(--color-bg-0) 30%, var(--color-bg-1) 70%, var(--color-bg-2) 100%);
}

h1,
h2,

p {
	font-weight: 200;
}

p {
	font-size:0.95rem;
	line-height: 1.4;
	tab-size: 5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 14px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 100rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}


/* Webkit browsers */
::-webkit-scrollbar {
	width: 13px; /* width of the entire scrollbar */
	
  }
  
  ::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
	
  }
  
  ::-webkit-scrollbar-thumb {
	background: rgba(2, 134, 146, 0.3);  /* color of the thumb */
	border-radius: 10px;
	border: 3px solid transparent;  /* invisible border */
  	background-clip: content-box;  /* so the background doesn't extend into the border */
	
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #d97f01; /* color when hovering over the thumb */
	border: 3px solid transparent;  /* invisible border */
  	background-clip: content-box;  /* so the background doesn't extend into the border */
	  
  }
  
  /* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #888 transparent;
  }
  
  /* Code snippet formatting for Quill ql-syntax code blocks */
  .ql-snow .ql-editor pre.ql-syntax {
	font-family: var(--font-mono);
	color: rgba(255, 255, 255, 0.9) !important;
	font-size: 12.5px !important;
	line-height: 1.5 !important;
	background-color: rgba(0, 53, 58, 0.3)!important;
	margin-left: 7px !important;
	padding-left: 10px !important;
	Margin-right:24px !important;
	padding-right:5px !important;
	Margin-top: 14px !important;
	Margin-bottom:14px !important;
	border-radius:9px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	opacity: 0.1;
	box-shadow: 3px 3px 2px 0px rgba(2, 71, 42, 0.35) !important;
	transition: all 0.2s ease-in-out !important;
		
  }

  .ql-snow .ql-editor:focus-within pre.ql-syntax {
	transition: all 0.2s ease-in-out !important;
	opacity: 1 !important;
  }

  /* fades out the entire contents of the user input Quill editor when not focused */
  .ql-snow .ql-editor:not(:focus-within) {
	transition: all 0.2s ease-in-out !important;
	opacity: 0.05 !important;
  }